* {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.divUno {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.divDos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

div p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
}